// Import page-specific CSS files here.
@import "home";
@import "show";


.container-i {
  display: flex;
}

.title {
  background-size: cover;
  background-color: white;
  height: 50px;
  margin: 15px 10px;
  align-items: center;
}

.cards-i {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 8px;
  width: 500px;
  padding: 16px;
}


.card-i {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}
