
.card-ss {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
}

.garden-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-ss h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-ss p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 10px;
  margin-top: 8px;
}

.card-s .card-ss {
  padding: 16px;
}

.user-card {
  display: flex;
  justify-content: space-around;
}

.details-card {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
