<div class="map"></div>

<div class="container-i margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1>Your garden was booked successfully!</h1>
        <p class="flat-show-address"></p>
      </div>
      <div class="flat-show-card">
        <h3>You've received a confirmation by email</h3>
        <p></p>
      </div>
    </div>

      <div class="garden-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>
          <div class="flex">
            <div class="footer-links">
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
