<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1510947647094-43f3ad2d1a5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
<h1>Your gardens</h1>
  <div class="card-garden">
    <% @gardens.each do |garden| %>
      <div class="card-info">
       <h2><%= link_to garden.name, garden_path(garden) %></h2>
       <p><%= garden.description %></p>
      </div>
    <% end %>
  </div>
  <%= link_to new_garden_path do %>
    <i class="fa fa-plus"></i> Add a new garden
  <% end %>
</div>





